.projects{
	background-color:#FFD4ED;
	padding:1em 2em;
	overflow:hidden;
	
	.projects-container{	
		.project{
			display:flex;
			flex-direction: column;
			justify-content:flex-start;
			background-color:#fafafa;
			padding:2em;
			border-radius: .5em;
			margin:2em auto;
			height:300px;
			max-width:250px;
			cursor:pointer; 
			transition: transform .1s linear;
			&:hover{
					transform:scale(1.1);
				}

			.project-name{
				font-size:20px;

			}	
			
			.project-details{
				white-space:normal;

			}
		}
		

		
	}
	
}


@media only screen and(min-width: 416px){
}
@media only screen and(min-width: 600px){
	.projects{
		padding:1em 3em;
		.projects-container{
			display:grid;
			grid-template-columns:1fr 1fr;
			place-content:center;
			grid-gap:.5rem;

		}
	}
}
@media only screen and(min-width: 800px){
	.projects{
		padding:2em 4em;
		.projects-container{
			grid-template-columns:1fr 1fr 1fr;
		}
	}
}
@media only screen and(min-width: 1080px){
	.projects{
		padding:2em 6em;
			
	}
	
}
