.header{
	.navbar{
		background-color: #00E88F;
		display: flex;
		justify-content: space-between;
		align-items: center;
		
		.nav-links{
			
			ul{
				margin:auto;
				li{
				float:left;
				margin:0 1em;
				font-size:12px;
				}
			}
		}
		.navbar-icons{
			ul{
			}
		}

	}
	
}
.nav-logo{
			margin:1em 1em 1em 2em;
			color:#6625B9;
			white-space: nowrap;
			font-size:1em;
			cursor:pointer;
			a{
				color:unset;
			}
		}
.nav-logo:hover{
	color:#581CB0;

}
@media only screen and(max-width:350px){
	.nav-logo{
		font-size:.8em;

	}
	ul li a{
		font-size:10px;
	}
}
@media only screen and(min-width: 420px){
	.nav-links{
		margin-right:1em;
	}
	ul li a{
		font-size: 14px;
	}
	.nav-logo{
		font-size: 1.25em;
	}
}
@media only screen and(min-width: 600px){
	.navbar{
		.nav-links{
			margin-right:3em;
		}
		ul li a{
			font-size:16px;
		}
		.nav-logo{
		margin:1em 1em 1em 3em;
		}
	}
}
@media only screen and(min-width: 800px){
	.navbar{
		.nav-links{
			margin-right:4em;
			font-size:18px;
		}
		.nav-logo{
		margin:1em 1em 1em 4em;
		font-size:1.5em;
		}
	}
}
@media only screen and(min-width: 1080px){
	.header{
		background-color:unset;
		display:flex;
		justify-content:space-between;
		.navbar{
			width:66%;
			.nav-logo{
				margin:1em 1em 1em 6em;
			}
		}

		.navbar-icons{
			display:unset;
			margin:auto 3em auto auto;
			ul li{
				float:left;
				margin-right:1em;
				}		
			}
	}
}