.App{
	visibility: hidden;
}

.navbar-icons, .hero-icon{
			display:none;
		}
.social-icon{
		width:40px;
		cursor: pointer;

	}
.title{
	color:#5C49B5;
	letter-spacing:10px;
}
.small-title{
	color:#5C49B5;
	letter-spacing:5px;
}

