.App{
	visibility: hidden;

}

.navbar-icons, .hero-icon{
			display:none;
		}
.social-icon{
		width:40px;
		cursor: pointer;
		transition: transform .2 smooth;
		&:hover{
			transform:scale(1.1);
		}

	}
.title{
	color:#5C49B5;
	letter-spacing:10px;
}
.small-title{
	color:#5C49B5;
	letter-spacing:5px;
}

